*
{
    margin:20px;
    padding:2px;
}
body
{
	background:#a9e34b;
	font-family: Bahnschrift, Comic Sans MS, "Arial";
	border:2px solid black;
	margin:6px auto;
	width:550px;
}
#ENCABEZADO
{
    text-align:center;
    color:white;
	font-size:40px;
	width:400px;
	margin:6px auto;
	
}
#CONTENIDO
{
	width:400px;
	margin:6px auto;
		
}
#PIE
{
    text-align:center;
    width: 600px;
    margin: 6px auto;
    color: white;
	font-size:25px;
	
}

h1
{
	display:inline-block;
	position:relative;
}
h1::after,h1::before
{
	content:'';
	position:absolute;
	width:50px;
	height:5px;
	background-color:white;
	top:0.6em;
}
h1::before
{
	left:-70px;
}
h1::after
{
	right:-70px;
}

#VENTAS
{
    color:white;
    background:#15aabf;
	width:400px;
	margin:6px auto;
	border:2px solid black;
}